.container {
    padding: 0 150px;
    height: 100%; 

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_top {
    height: 46px;
    border-bottom: 1px solid #F5F0EC;
    font-size: 13px;
    color: #887B61;
}

.container_main {
    height: 100px;
    border-bottom: 1px solid #ECE8E3;
}

.left {
    display: flex;
    align-items: center;
    gap: 101px;
}

.right {
    display: flex;
    align-items: center;
    gap: 26px;
    white-space: nowrap;
}

.nav {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 0px 90px 0px 0px;
    white-space: nowrap;
}

.accessibility, .max {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;  
}

.full {
    display: block;
}

.icon {
    display: none;
}

.nav a{
    font-size: 15px;
}

.burger {
    display: none;
    width: 40px;
    height: 12px;

    flex-direction: column;
    justify-content: space-between;

    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    height: 2px;
    background: #C9A077
}

.burger span:nth-child(2) {
    width: 22px;
    align-self: center;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.mobileMenu {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100dvh;      
    overflow-y: auto;

    background: #ffffff;
    padding: 24px;
    z-index: 101;
}

.close {
    position: fixed;
    top: 20px;
    right: 20px;

    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 102;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 80px 0 40px;

    max-width: 100%;
}

.mobileNav a {
    font-size: 18px;
    font-weight: 600;
    color: #474031;
    text-decoration: none;
}

@media (max-width: 1280px) {
    .container {
        padding: 0 40px;
    }

    .nav {
        gap: 20px;
        padding: 0px 44px 0px 0px;
    }
    
    .left{
        gap: 20px;
    }

    .full {
        display: none;
    }

    .icon {
        display: block;
    }

    .right {
        gap: 18px;
    }

    .nav a{
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .services {
        display: none;
    }

    .stick {
        display: none;
    }

    .container {
        padding: 0 24px;
    }

    .burger {
        display: flex;
    }

    .phone{
        display: none;
    }
}

@media (max-width: 375px) {
    .phone {
        display: none;
    }

    .main {
        height: 72px;
    }
}
