
a{
  text-decoration: none;
  color: black;
}

li{ 
  list-style-type: none; 
}  

body{
  margin: 0;
  overflow-x: hidden;
}

body, button, input, textarea, select {
  font-family: var(--font-vela), sans-serif;
}

h1{
  margin: 0;
}